node_modules/
.env
env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build directories
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj

Datasets/

#pycache
__pycache__/

.env

pytorch_env/
pytorch_env\pyvenv.cfg


outputVideo.mp4
video.mp4
*.mp4

checkpoints/

yajat/models/models.zip
*.zip

yajat/models/
*.pt
*.zip
